<!doctype html>
<html lang="es">

<head>
    <meta name="language" content="ES">
    <meta http-equiv="Content-Language" content="es_CO">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Juego para aprender a escribir y dibujar los números de forma interactiva, ayudado por la tecnología">
    <meta name="author" content="Gamethemed">
    <meta name="owner" content="Juan Arias">
    <link rel="canonical" href="https://www.gamethemed.com/views/juego-de-escribir-numeros.html" />
    <title>Juego para aprender los números - Juegos Educativos</title>
    <link rel="icon" type="image/png" href="../favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/writenumer_style.css" rel="stylesheet">
    <!-- Para los icons -->
    <!--<link rel="stylesheet" href="css/fontawesome-free/css/fontawesome.min.css">-->

    <!-- js -->
    <script src="../js/jquery-3.3.1.slim.min.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116925262-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-116925262-1');
    </script>

    <!-- GoogleAdsense -->
    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-5776183249145309",
                    enable_page_level_ads: true
                  });
                </script>-->
</head>

<body ng-app="writenumber">

    <div class="container-fluid bg-primary text-white">
        <div class="row text-center p-2">
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 text-sm-center text-md-right text-lg-right">
                <a href="https://www.gamethemed.com/">
                    <img src="../img/juegos-educativos.jpg" width="40" height="40" alt="juegos educativos">
                </a>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 text-sm-center text-md-left text-lg-left">
                <h1>JUEGO EDUCATIVO PARA APRENDER LOS NÚMEROS</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3" ng-app="writenumber">
        <div class="row text-center" ng-controller="writecontroller">
            <div class="col-md-12 text-center">
                <h2>
                    ¿Como dibujar los números?
                </h2>
                <p>
                    Dibuja los números deacuerdo a las intrucciones mostradas abajo.
                </p>
                <img src="../img/numbersInstruc.png" alt="" class="img-fluid pb-1">
                <p class="text-center d-none d-md-block">
                    <button class="btn btn-info btn-lg" ng-click="playAction();">
                        Play
                    </button>
                </p>
                <p class="d-md-none">
                    <button class="btn btn-info btn-block" ng-click="playActionMovil();">
                        Play
                    </button>
                </p>
            </div>

            <div class="col-12">
                <h4 id="segundos" class="text-center">60 Segundos</h4>
            </div>

            <div id="divRespuest" class="col-12 text-center pt-2">
                <div id="divRespuestCorrect" class="alert alert-success" style="display:none;">
                    <strong>Correcto!</strong> Sigue así.
                </div>
                <div id="divRespuestInCorrect" class="alert alert-danger" style="display:none;">
                    <strong>Que mal fallaste esta pregunta intenta la proxima!</strong>
                </div>
                <div id="divAlert" class="alert alert-info text-center" style="display:none;">
                    <strong>No es correcto!</strong> Intentalo nuevamente.
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <input type="text" id="inputField1" name="inputField1" class="col-lg-12 text-center h3" readonly>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center container-canvas border border-warning" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                <signature-pad id="signature" clear="clear" height="200" width="400"></signature-pad>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card d-none d-md-block">
                    <div class="card-body">
                        <button id="butStart" class="btn btn-danger btn-lg" ng-click="startGame();">
                            Empezar
                        </button>
                        <button id="butProcess" class="btn btn-primary btn-lg" ng-click="recognizeImage();" disabled>
                            Responder
                        </button>
                        <button id="butClear" class="btn btn-info btn-lg" ng-click="clear()">
                            Limpiar
                        </button>
                    </div>
                </div>
                <div class="card d-md-none">
                    <div class="card-body">
                        <button id="butStartSmall" class="btn btn-danger btn-block" ng-click="startGame();">
                            Empezar
                        </button>
                        <button id="butProcessSmall" class="btn btn-primary btn-block" ng-click="recognizeImage();">
                            Responder
                        </button>
                        <button class="btn btn-info btn-block" ng-click="clear()">
                            Limpiar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <input type="text" class="text-center" id="transcription" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article numbers -->

        <div class="container-fluid pt-5">
            <div class="card">
                <div class="card-header">
                    <h2>Escritura de los números</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>
                            Los números son símbolos, que permiten al ser humano representar una cantidad; estos son usados en muchas actividades de
                            la vida diaria que realizamos, no solamente por la ciencia o la gente matemática, todos y cada
                            uno de nosotros ha usado los números en algún momento, casi que de manera natural, como lo vemos
                            en los niños pequeños que sin saberlo usan sus dedos para contar. Algunos aseguran que el concepto
                            de los números puede ser tan universal que podrían usarse para comunicarse con otra especie de
                            otro planeta, ya si son tan desarrollados como nosotros, en algún momento habrán desarrollado
                            el concepto de los números.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Desde épocas antiguas el hombre siempre tuvo la enorme necesidad de expresar o decir los números. Por ejemplo en la antigüedad
                            cuando el hombre primitivo cazaba, este debía decir a los demás la cantidad de posibles presas
                            que tenían, cantidades de flechas, rocas o algún tipo de arma para esas presas. Esto creó la
                            necesidad del ser humano de contar y con eso la necesidad de representar esas cuentas que se
                            realizaban.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Con el paso del tiempo y ya pasando a la época de los primeros asentamientos humanos, aparecieron las propiedades y el comercio;
                            por ejemplo ya una persona podía poseer muchos animales, alimentos o productos que podía cambiar
                            por otros. De esta forma surgen los primeros comerciantes y la actividad del comercio. Con lo
                            anterior ya no solo era necesario representar las cantidades sino también que todos las pudieran
                            representar e interpretar esas cantidades de la misma forma.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Con lo anterior podemos darnos cuenta que el ser humano siempre ha tenido la necesidad de los números, la necesidad de contar
                            y es que la historia de la humanidad está relacionada ellos. Nuestro sistema actual de numeración
                            y la forma en la que escribimos los números fue en realidad un proceso largo, donde intervinieron
                            varias civilizaciones, culturas usando las cruzadas, y el comercio entre ellas como medio para
                            transmitir conocimientos.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            La historia de porque dibujamos los números de la forma actual, comienza en la India 300 años antes de cristo, donde desarrollaron
                            un sistema en el que se representaban los principales dígitos que iban del uno al nueve (1-9),
                            esto ya que aún no existe el cero (0); con estos símbolos podían crear todos sus números superiores
                            después del nueve. No sería hasta el siglo VII cuando desarrollarían el número cero o la nada
                            como concepto matemático, incluyendo sus operaciones matemáticas con los demás.
                        </p>
                        <p class="text-center">
                            <img src="../img/games/numeros/numeros-hindues.png" class="img-fluid" alt="numeros hindues antiguos">
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            El siguiente aporte a la escritura de los números lo realizó la cultura Árabe que habían absorbido parte de los conocimientos
                            de la cultura de los Hindúes entre ellos el uso del número 0, esto gracias a su desarrollado
                            conocimiento en las matemáticas que se intensificó con los conocimientos de la cultura Hindú,
                            lo que permitió avances como el de sistemas de ecuaciones que lo podemos ver en el Libro Álgebra
                            de Baldor y dando origen al sistema numérico Indoarábigo el sistema usado actualmente.
                        </p>
                        <p class="text-center">
                            <img src="../img/games/numeros/numeros-arabigos.png" class="img-fluid" alt="numeros arabigos antiguos">
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Sin Embargo este sistema no se popularizó hasta el siglo XV con la cultura de los Romanos quienes tenían su propio sistema
                            de escritura de números, los famosos números romanos. El sistema fue popularizado gracias a Leonardo
                            de Pisa o más conocido como Fibonacci quien por cuestiones de trabajo viajaba mucho a las tierras
                            de África y a Medio Oriente. Es en estas regiones donde aprende los símbolos usados por esas
                            culturas y los dio a conocer en Europa por medio de sus libros. En ellos hablaba de cómo escribir
                            cualquier número únicamente con los 10 símbolos que van del cero al nueve (0-9), simplificando
                            mucho los cálculos y la cantidad de escritura que se requería para los números ya que los números
                            romanos eran muy largos y difíciles de operar.
                        </p>
                        <p class="text-center">
                            <img src="../img/games/numeros/numeros-romanos.png" class="img-fluid" alt="numeros romanos">
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Si bien los números Indoarábigos eran más fáciles de escribir y operar, fue difícil inicialmente que se impusieran sobre
                            el sistema romano, solo con el paso del tiempo fue que estos se impusieron y se dieron a conocer
                            en toda Europa.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            Lo anterior es una historia muy resumida con respecto a la historia de los números, de por qué los escribimos de esa forma,
                            su impacto cultural, y como son el resultado de un proceso en el que varias culturas intervinieron.
                            Así que recuerda que escribir los números de forma clara y sencilla para todos fue uno de los
                            grandes avances que ha tenido la humanidad.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row pt-2">
                <div class="col-12 text-center d-none d-md-block">
                    <a href="../" class="btn btn-primary btn-lg">Volver</a>
                </div>
                <div class="col-12 text-center d-md-none">
                    <a href="../" class="btn btn-primary btn-block">Volver</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModalResults" tabindex="-1" role="dialog" aria-labelledby="Resultados" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Puntaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="paragraphResults"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="bg-dark text-center text-white p-3">
        <div class="row bg-dark text-center text-white p-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="lead">
                    © Diseñado por
                    <a href="http://www.gamethemed.com/">Gamethemed</a> - Derechos reservados 2018
                </p>
                <p>
                    Contacto: admin@gamethemed.com
                </p>
                <p>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.gamethemed.com%2F&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId"
                        width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                        allow="encrypted-media"></iframe>
                </p>
            </div>
        </div>
    </footer>
</body>

<script src="../js/popper.min.js"></script>
<script src="../css/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-signature.min.js"></script>
<script src="../js/signature-pad.js"></script>
<script src="../js/writenumber-controller.js"></script>
<script src="../js/app.js"></script>
<script src="../js/glfx.js"></script>

</html>