<!doctype html>
<html lang="es">

<head>
    <meta name="language" content="ES">
    <meta http-equiv="Content-Language" content="es_CO">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Juego Educativos Página no encontrada</title>
    <link rel="icon" type="image/png" href="../favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Para los icons -->
    <!--<link rel="stylesheet" href="css/fontawesome-free/css/fontawesome.min.css">-->

    <!-- js -->
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
</head>

<body>

    <div class="container-fluid bg-primary text-white">
        <div class="row text-center p-2">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 text-sm-center text-md-right text-lg-right">
                <a href="https://www.gamethemed.com/">
                    <img src="../img/juegos-educativos.jpg" width="40" height="40" alt="juegos educativos">
                </a>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 text-sm-center text-md-left text-lg-left">
                <h1>JUEGOS EDUCATIVOS</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3" ng-app="writenumber">
        <div class="row" ng-controller="writecontroller">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <span class="h1">
                    <img src="https://svgsilh.com/svg/1349562-673ab7.svg" alt="Error 404" class="img-fluid pb-1">
                </span>
                <p class="h3 text-center p-3 text-primary">
                    Lo sentimos, pero la página buscada no se ha podido encontrar.
                <p class="pt-2">
                    <a href="https://www.gamethemed.com/" class="btn btn-primary btn-block">Volver al home</a>
                </p>
            </div>
        </div>

    </div>

    <footer class="bg-dark text-center text-white p-3">
        <div class="row bg-dark text-center text-white p-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="lead">
                    © Diseñado por
                    <a href="http://www.gamethemed.com/">Gamethemed</a> - Derechos reservados 2018
                </p>
                <p>
                    Contacto: admin@gamethemed.com
                </p>
                <p>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.gamethemed.com%2F&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId"
                        width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                        allow="encrypted-media"></iframe>
                </p>
            </div>
        </div>
    </footer>
</body>
<script src="../css/bootstrap/dist/js/bootstrap.min.js"></script>

</html>