<html>

<head>
    <meta name="language" content="ES">
    <meta http-equiv="Content-Language" content="ES-ES">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Juegos educativos para niños">
    <meta name="author" content="Gamethemed">
    <meta name="owner" content="Juan Arias">
    <title>Juego de matemáticas para niños</title>
    <link rel="icon" type="image/png" href="../favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/general_style.css" rel="stylesheet">
    <!-- Para los icons -->
    <!--<link rel="stylesheet" href="css/fontawesome-free/css/fontawesome.min.css">-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116925262-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-116925262-1');
    </script>

    <!-- GoogleAdsense -->
    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-5776183249145309",
                    enable_page_level_ads: true
                  });
                </script>-->
</head>

<body>

    <div class="container-fluid bg-primary text-white">
        <div class="row text-center">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 text-sm-center text-md-right text-lg-right">
                <img src="../img/juegos-educativos.jpg" width="40" height="40" alt="juegos educativos">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 text-sm-center text-md-left text-lg-left">
                <h1>JUEGOS EDUCATIVOS</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="../img/numbersInstruc.png" alt="" class="img-fluid">
                <h2>
                    Dibuja los números
                </h2>
                <p>
                    Observa la imagen y observa como dibujar los números
                </p>
            </div>
        </div>
    </div>

    <!--<div id="main-container" class="container" ng-app="writenumber">
        <div id="header-page" class="page-header row text-center bg-warning text-white p-3" ng-controller="writecontroller">
            <div class="col-sm-12 col-md-6 col-lg-11 col-xl-11">
                <h1>
                    JUEGOS EDUCATIVOS
                </h1>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 col-xl-1">
                <img src="../img/juegos-educativos.jpg" alt="Educate y aprende">
            </div>
        </div>
        <div class="row bg-light p-5">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pt-5">
                <article>
                    <h2>Aprende los números</h2>
                    <p>
                        Observa y aprende los movimientos de la mano para poder dibujar los números
                    </p>
                </article>
            </div>
            <button class="col-sm-12 col-md-4 offset-md-4 text-center btn btn-warning btn-lg text-white" ng-click="numberwrite();">
                Play
            </button>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-4">
                <img src="../img/numbersInstruc.png" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <canvas id='c' width="400" height="200"></canvas>
            </div>
        </div>
        <footer>
            <div class="row bg-dark text-center text-white p-4">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p class="lead">
                        © Diseñado por
                        <a href="http://www.gamethemed.com/">Gamethemed</a> - Derechos reservados 2018
                    </p>
                </div>
            </div>
        </footer>
    </div>-->
    <!-- Footer -->
    <!-- js -->
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../css/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/writenumber-controller.js"></script>
</body>

</html>